body {
	margin: 0;
	padding: 0;
	font-family: "Georgia", serif;
	background-color: #2e96c4;
	color: #FFF;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	color: green;
	outline: none;
}
h1{
	position: absolute;
}
br.clear {
	clear: both;
}

#wrapper {
	margin: 0 auto;
	padding: 0;
	width: 980px;
}

#logo {
	margin: 50px 0;
}
	#logo h1 {
		margin: 0;
		padding: 0;
		position: absolute;
		font-weight: normal;
		font-size: 53px;
		letter-spacing: -1px;
		bottom: 330px;
		margin: 150px;
	}
	#logo span {
		color: green;
	}

#categories {
	float: right;
}
	#categories a{
		padding: 10px;
		color: #FFF;
		font-size: 18px;
		text-decoration: none;
	}

	#categories li {
		margin: 0;
		padding: 0;
		display: inline-block;
		height: 31px;
	}

	#categories .current {
		background: green;

		/* Round select corners */

		-webkit-border-radius: 15px 15px 0 0;
		-khtml-border-radius: 15px 15px 0 0;
		-moz-border-radius: 15px 15px 0 0;
		border-radius: 15px 15px 0 0;
	}


#output img {
	margin: 0;
	padding: 0;
	width: 960px;
	height: 500px;
	border: solid 10px green;

	/* Round select corners */

	-webkit-border-radius: 25px 0;
	-khtml-border-radius: 25px 0;
	-moz-border-radius: 25px 0;
	border-radius: 25px 0;
}

#nav{
	float: left;
	margin: -4px 0 0 0;
	padding: 0;
	width: 400px;
	height: 40px;
	background: #00a5d0;
	text-align: center;
	display: block;
	overflow: hidden;

	/* Round select corners */

	-webkit-border-radius: 0 0 15px 15px;
	-khtml-border-radius:  0 0 15px 15px;
	-moz-border-radius:  0 0 15px 15px;
	border-radius: 0 0 15px 15px;

}
	#nav ul {
		margin-top: 8px;
	}
	#nav li {
		display: inline-block;
	}

	#nav a {
		margin: 0;
		padding: 0 10px;
		color: #FFF;
		text-decoration: none;
		font-size: 18px;
	}

	#nav a.navStopAdvance
	{
		display: inline;
	}

	#nav a.navPlayAdvance
	{
		display: inline;
	}

	#nav a.active
	{
		display: none;
	}

#captions{
	margin: 0;
}

	#captions .line
	{
		margin: 5px 0 0 0;
		float: right;
		font-size: 24px;
		font-weight: bold;
	}

	#captions .line2 {
		position: absolute;
		top: 658px;
		display: block;
		width: 940px;
		margin: 0 10px;
		background:;
		padding: 10px;
		text-align: left;

		/* Round select corners */
		-webkit-border-radius: 0 0 15px 0;
		-khtml-border-radius: 0 0 15px 0;
		-moz-border-radius: 0 0 15px 0;
		border-radius: 0 0 15px 0;

		/* Apply Opacity */
		-khtml-opacity:.70;
		-moz-opacity:.70;
		-ms-filter:"alpha(opacity=70)";
		filter:alpha(opacity=70);
		opacity:.70;
	}


	#captions .line3 {
		display: block;
		margin: 2em 0 2em 0;
		font-size: 0.75em;
	}

.hidden {
	display: none;
}

.thumbnails
{
	width: 980px;
	list-style: none;
	margin: 50px auto;
	padding: 0;
	position: relative;
	top: 0;
}

	.thumbnails li
	{
		margin: 7px;
		float: left;
	}
	.thumbnails .first
	{
		margin-left: 0px;
	}
	.thumbnails .last
	{
		margin-right: 0px;
	}
	.thumbnails li img
	{
		width: 100px;
		height: 75px;
		border: solid 5px green;
		cursor: pointer;

		/* Round select corners */

		-webkit-border-radius: 15px 0;
		-khtml-border-radius: 15px 0;
		-moz-border-radius: 15px 0;
		border-radius: 15px 0;
	}

	.thumbnails li img.active
	{
		border: solid 5px red;
	}

#footer {
	margin: 50px 0;
	padding: 0;
}
	#footer span {
		font-size: 11px;
		float: right;
	}
	p{
		color: white;
		font-size: 25px;
		font-style: italic;
		font-family: monospace;

	}
	.patrocinadores{
		text-align: center;
	}
.formulario{
	margin-right: 10px;
	float: left;
}
.mapa{
	position: relative;
	float: right;
	margin-right: 10px;
	bottom: -50px;
}
	.form-consulta {position: absolute;float: left; max-width: 500px; padding: 25px; font-family: 'Source Sans Pro', sans-serif;}
	.campo-form {width:100%; height:36px; margin:2px 0 6px; padding-left:6px; box-sizing: border-box; border-radius:3px; border:0; font-family: 'Source Sans Pro', sans-serif; font-size:1em;}
	label span {color: #f00}
	textarea {min-height: 150px!important;}
	.btn-form {display: inline-block; border:0; background: green; height: 46px; line-height: 46px; padding: 0 20px; border-radius: 6px; color:#fff; text-decoration: none; text-transform: uppercase; letter-spacing: 1px}
	.btn-form:hover {background: #444}





.container-icons{
    position: absolute;
    bottom: -420px;
    right: 8px;
    z-index: 500;
}
.icon-circle-with-plus{
    font-size: 70px;
    transition: all 300ms;
    color: green;
}
.container-icons:hover .icon-circle-with-plus{
    transform: rotate(180deg);
}
.row-icon{
    position: absolute;
    display: flex;
    justify-content: flex-end;
    transition: all 300ms;
    opacity: 1;
    padding: 5px;
}
.container-icons:hover .row-icon{
    opacity: 1;
}
.row-icon h7{
    transform: translate(-10px, 10px);
    background: rgba(0,0,0,0.6);
    height: 20px;
    font-weight: 300;
    padding: 2px 2px;
    color: white;
    border-radius: 5px;
}
.row-icon label{
    font-size: 40px;
}
.icon1{
    transform: translate(-100px, -40px) scale(0);
}
.icon2{
    transform: translate(-0px, -90px) scale(0);
}
.icon3{
    transform: translate(-96px, -180px) scale(0);
}
.icon4{
    transform: translate(-10px, -250px) scale(0);
}
.container-icons:hover .icon1{
    transform: translate(-66px, -50px) scale(1);
}
.container-icons:hover .icon2{
    transform: translate(-56px, -100px) scale(1);
}
.container-icons:hover .icon3{
    transform: translate(-70px, -150px) scale(1);
}
.container-icons:hover .icon4{
    transform: translate(-46px, -200px) scale(1);
}
.label1{
    color: #1B00B4;
}
.label2{
    color: #AB3838;
}
.label3{
    color: #F2000B;
}
.label4{
    color: #78C5FC;
}
